{% extends "base.html" %}
{% load static %}
<html lang="en">

{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">بازیابی گذرواژه</div>
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <i class="fa fa-envelope"></i>
                                    {{ password_reset_form }}

                                </div>


                                <div class="my-3">
                                    <button class="btn custom-btn w-100">درخواست بازیابی گذرواژه</button>
                                </div>

                            </form>


                            <div class="">
                                <p class="small text-center my-3"><a href="{% url "Acount_app:Register" %}">ثبت‌نام نکرده‌اید؟ برای
                                        ثبت‌نام کلیک کنید.</a></p>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    {% endblock %}
</body>

</html>