{% extends "base.html" %}

<!DOCTYPE html>
{% block content %}
    <body>

    <div class="container p-5">
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <form class="" method="post">
                                {% csrf_token %}
                                {{ form }}

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
</body>
</html>



