{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<body>

<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">لینک بازیابی گذرواژه ارسال شد</h2>
		<hr>
		<p>اگر حسابی با ایمیلی که وارد کرده‌اید وجود داشته باشد، دستورالعمل‌های تنظیم رمز عبور را برای شما ایمیل کرده‌ایم. به زودی آنها را دریافت خواهید کرد.<br>اگر ایمیلی دریافت نکردید، لطفاً مطمئن شوید که آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه هرزنامه خود را بررسی کنید.</p>
  </div>
{% endblock %}

</body>
</html>