{% extends "base.html" %}
{% load static %}
<html lang="en">

{% block content %}
    <main>

        <h2 class="text-center border-bottom  py-5 bg-white">درباره ما</h2>

        <section class="container my-5">
            <p class=" text-justify lineh30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                نیاز، و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                الخصوص
                طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
                موجود در
                ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
                سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            <h3 class="my-3">محصولات ما</h3>

            <p class="text-justify lineh30">ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                نیاز، و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
                شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                الخصوص
                طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
                موجود در
                ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
                سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </section>
        <section class="my-5 container bg-white py-5">
            <h3 class="our-team-title">اعضای تیم</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap">
                <!-- item -->

                {% for user in object_list %}
                <div class="member">
                    <div class="member-img-box">
                        <a href="{{ user.get_absolut_url }}"><img alt="{{ user.user.get_full_name }}" class="ui circular image" src="{{ user.user.image.url }}"></a>
                    <div class="member-overlay"></div>
                    </div>
                    <a href="{{ user.get_absolut_url }}"><p>{{ user.user.get_full_name }}</p></a>
                </div>
                 <!-- item -->
                 {% endfor %}


            </div>
        </section>


    </main>


    {% endblock %}
</body>

</html>