{% extends "base.html" %}
{% load static %}
<html lang="en">

{% block content %}

    {% block titel %}
        <title>
            همه ویدیو ها
        </title>

    {% endblock %}


    <main>

        <section class="py-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">همه ویدیوها</h2>

                </div>
                <div class="row">


                    {% for video in object_list %}
                        <div class="col-md-6 col-lg-4 my-2">
                            <div class="custom-bg">
                                <div class="video-card">
                                    <a href="{{ video.get_absulot_url }}" class="position-relative d-block ">
                                        <img src="{{ video.video_cover.url }}" alt="" class="img-fluid w-100 h-100">
                                        <div class="video-play-btn">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between video-category-time">
                                            <h6 class="">{{ video.category.all.0 }}</h6>
                                            <span class="vid-time">{{ video.time }}</span>
                                        </div>
                                        <div class="video-card-details">
                                            <div>
                                                <span>{{ video.view }}</span>
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.like }}</span>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.comment.all.count }}</span>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="article-overlay"></div>
                                    </a>

                                </div>
                                <a href="{{ video.get_absulot_url }}">
                                    <h5 class="video-card-title m-2">{{ video.titel }}</h5>
                                    {% if video.special_video == True %}
                                        <span class="m-2 badge badge-primary"> مخصوص اعضای ویژه</span>
                                    {% endif %}
                                </a>
                                <div class="my-3 pb-3 mx-2">
                                    <i class="fa fa-user  ml-1 "></i>
                                    <a class="text text-dark"
                                       href="{{ video.teacher.get_absolut_url }}"><span>{{ video.teacher.user.full_name }}</span></a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
                {% if page_obj.has_other_pages %}
                    <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-right"></i></a>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a href="?page={{ i }}" class="active mx-1">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="mx-1">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-left"></i></a>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </section>

    </main>


{% endblock %}

</body>

</html>