{% extends "base.html" %}
{% load static %}
<html lang="en">


{% block content %}

    {% block titel %}
        <title>
            صفحه اصلی
        </title>

    {% endblock %}

    <section class="py-5">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h2 class="title-section">تازه ترین ویدیو ها</h2>
                <a href="{% url "Home:all_video" %}" class="btn custom-btn">
                    نمایش همه
                </a>
            </div>
            <div class="row">

                {% for video in object_list %}

                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="custom-bg">
                            <div class="video-card">
                                <a href="{{ video.get_absulot_url }}" class="position-relative d-block ">
                                    <img src="{{ video.video_cover.url }}" alt="" class="img-fluid w-100 h-100">
                                    <div class="video-play-btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between video-category-time">
                                        <h6 class="">{{ video.category.first }}</h6>
                                        <span class="vid-time">{{ video.video_time }}</span>
                                    </div>
                                    <div class="video-card-details">
                                        <div>
                                            <span>{{ video.view }}</span>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div>
                                            <span>{{ video.favorite.all.count }}</span>
                                          <i class="fa fa-heart"></i>
                                        </div>
                                        <div>
                                            <span>{{ video.comment.all.count }}</span>
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="article-overlay"></div>
                                </a>

                            </div>
                            <a href="{{ video.get_absulot_url }}">
                                <h5 class="video-card-title m-2"> {{ video.titel }}</h5>

                                {% if video.special_video == True %}
                                    <span class="m-2 badge badge-primary"> مخصوص اعضای ویژه</span>
                                {% endif %}
                            </a>
                            <div class="my-3 pb-3 mx-2">
                                <i class="fa fa-user  ml-1 "></i>
                                <a class="text text-dark"
                                   href="{{ video.teacher.get_absolut_url }}"><span>{{ video.teacher.user.full_name }}</span></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h2 class="title-section">تازه ترین ویدیوها </h2>
                <a href="all-videos.html" class="btn custom-btn">
                    نمایش همه
                </a>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="video-detail.html" class="position-relative d-block ">
                                <img src="{% static "assets/image/p1.jpg" %}" alt="" class="img-fluid w-100 h-100">
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6 class="">موفقیت</h6>
                                    <span class="vid-time">5:25</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="video-detail.html">
                            <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                ها تازه ترین ویدیو هاتازه
                                ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>امیرحسین امیری</span>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <!-- item -->
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="video-detail.html" class="position-relative d-block ">
                                <img src="{% static "assets/image/p2.jpg" %}" alt="" class="img-fluid w-100 h-100">
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6 class="">موفقیت</h6>
                                    <span class="vid-time">5:25</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="video-detail.html">
                            <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                ها تازه ترین ویدیو هاتازه
                                ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>امیرحسین امیری</span>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <!-- item -->
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="video-detail.html" class="position-relative d-block ">
                                <img src="{% static "assets/image/p3.png" %}" alt="" class="img-fluid w-100 h-100">
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6 class="">موفقیت</h6>
                                    <span class="vid-time">5:25</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="video-detail.html">
                            <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                ها تازه ترین ویدیو هاتازه
                                ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>امیرحسین امیری</span>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <!-- item -->
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="video-detail.html" class="position-relative d-block ">
                                <img src="{% static "assets/image/p4.png" %}" alt="" class="img-fluid w-100 h-100">
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6 class="">موفقیت</h6>
                                    <span class="vid-time">5:25</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>111122</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>1122</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="video-detail.html">
                            <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                ها تازه ترین ویدیو هاتازه
                                ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>امیرحسین امیری</span>
                        </div>
                    </div>
                </div>
                <!-- end item -->
                <!-- item -->
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="video-detail.html" class="position-relative d-block ">
                                <img src="{% static "assets/image/p5.png" %}" alt="" class="img-fluid w-100 h-100">
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6 class="">موفقیت</h6>
                                    <span class="vid-time">5:25</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>22</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="video-detail.html">
                            <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                ها تازه ترین ویدیو هاتازه
                                ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>امیرحسین امیری</span>
                        </div>
                    </div>
                </div>
                <!-- end item -->

            </div>
        </div>
    </section>



    </main>


{% endblock %}

</body>

</html>