{% extends "base.html" %}
{% load static %}
<html lang="en">

{% block content %}

    <main>

        <section class="py-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">همه ویدیوها</h2>

                </div>
                <div class="row">


                    {% for video in object_list %}
                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="custom-bg">
                            <div class="video-card">
                                <a href="{{ video.get_absulot_url }}" class="position-relative d-block ">
                                    <img src="{{ video.video_cover.url }}" alt="" class="img-fluid w-100 h-100">
                                    <div class="video-play-btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between video-category-time">
                                        <h6 class="">{{ video.category.all.0 }}</h6>
                                        <span class="vid-time">{{ video.time }}</span>
                                    </div>
                                    <div class="video-card-details">
                                        <div>
                                            <span>{{ video.view }}</span>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div>
                                            <span>{{ video.like }}</span>
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div>
                                            <span>{{ video.comment.all.count }}</span>
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="article-overlay"></div>
                                </a>

                            </div>
                            <a href="{{ video.get_absulot_url }}">
                                <h5 class="video-card-title m-2">{{ video.titel }}</h5>
                            </a>
                            <div class="my-3 pb-3 mx-2">
                                <i class="fa fa-user  ml-1 "></i>
                                <span>{{ video.teacher.user.username }}</span>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                {% if object_list.has_other_pages %}
                <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}{% if request.GET %}&q={{ request.GET.q }}{% endif %}" class="mx-1"><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                {% for i in object_list.paginator.page_range %}
                    {% if object_list.number == i %}
                    <a href="?page={{ i }}{% if request.GET %}&q={{ request.GET.q }}{% endif %}" class="active mx-1">{{ i }}</a>
                        {% else %}
                        <a href="?page={{ i }}{% if request.GET %}&q={{ request.GET.q }}{% endif %}" class="mx-1">{{ i }}</a>
                    {% endif %}
                   {% endfor %}

                {% if object_list.has_next %}
                    <a href="?page={% if request.GET %}&q={{ request.GET.q }}{% endif %}{{ object_list.next_page_number }}" class="mx-1"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                </div>
            {% endif %}

            </div>
        </section>

    </main>


   {% endblock %}

</body>

</html>