{% load static %}
<footer>
        <div class="container-fluid py-5">

            <section class="row d-flex align-items-baseline footer-items">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>راهنمای استفاده</p>
                        </a>
                        <a href="">
                            <p>سوالات متداول </p>
                        </a>
                        <a href="">
                            <p>قوانین و مقررات </p>
                        </a>
                        <a href="">
                            <p>پیشنهاد آموزش </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>راهنمای استفاده</p>
                        </a>
                        <a href="">
                            <p>سوالات متداول </p>
                        </a>
                        <a href="">
                            <p>قوانین و مقررات </p>
                        </a>
                        <a href="">
                            <p>پیشنهاد آموزش </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="">
                            <p>مستندات جنگو</p>
                        </a>
                        <a href="">
                            <p>آموزش دارت</p>
                        </a>
                        <a href="">
                            <p>خلاصه کتاب‌های پایتون</p>
                        </a>
                        <a href="">
                            <p>چند نکته ی پایتونی</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div>
                        <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                        <a href="" class="">
                            <img src="{% static "assets/image/f1.svg" %}" alt="">
                            اهواز، خیابان نادری، خیابان امیری، کوچه مهرگان، پلاک ۱۴، کد پستی 6381838168
                        </a>
                        <a href="" class="">
                            <img src="{% static "assets/image/f2.svg" %}" alt="">
                            پشتیبانی: 09910549803
                        </a>
                        <a href="" class="">
                            <img src="{% static "assets/image/f3.svg" %}" alt="">
                            30009010
                        </a>
                        <a href="" class="">
                            <img src="{% static "assets/image/f4.svg" %}" alt="">
                            amirhamiri74@gmial.com
                        </a>

                        <button class="footer-btn my-3">ارسال پیام</button>

                        <div class="social-media d-flex align-items-center flex-wrap ">
                            <a href=""> <i class="fa fa-instagram"></i></a>
                            <a href=""> <i class="fa fa-telegram"></i></a>
                            <a href=""> <i class="fa fa-whatsapp"></i></a>
                            <a href=""> <i class="fa fa-twitter"></i></a>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </footer>
